<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @organization.name %>
</p>

<h2>Departments</h2>

<table>
	<th>
<tr>
	<th>Id</th>
	<th>Name</th>
	<th>Actions</th>
</tr>
</table>
		<tbody>
			<tr>
				<td>
					<% @organization.departments.each do |dept| %>
				</td>
				<td><%= dept.name%></td>
				<td><%= dept.id%></td>
				<td><%= link_to "View #{dept.name}", dept %></td>
			</tr>
		</tbody>
	</th>
<% end %>
<%= link_to 'Edit', edit_organization_path(@organization) %> |
<%= link_to 'Back', organizations_path %>
